{% extends 'base.html' %}

{% block content %}

<header class="masthead" style="background-image: url({{ url_for('static', filename='/images/bg.jpg') }});max-height:67px;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {% if Posts != [None] %}
          {% for post in Posts %}
        <div class="post-preview">
          
          <a href="{{url_for('view_post', id=post.post_id, title=post.title)}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="{{ url_for('about') }}">Ethan Shealey</a>
            on {{post.date}}</p>
        </div>
        {% endfor %}
        {% if has_prev or has_next %}
        <hr>
        {% endif %}
        {% endif %}
        <!-- Pager -->
        <div class="clearfix">
          {% if has_prev %}
          <a class="btn btn-primary float-right" style="float:left !important;" href="{{url_for('posts', page=page-1)}}">&larr; Previous Page</a>
          {% endif %}
          {% if has_next %}
          <a class="btn btn-primary float-right" href="{{url_for('posts', page=page+1)}}">Next Page &rarr;</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% endblock %}

    