{% extends 'base.html' %}

{% block content %}
<header class="masthead" id="bg" style="background-image: url({{ url_for('static', filename='/images/post-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h2 class="subheading">{{ post.subtitle }}</h2>
            <span class="meta">Posted by
                <a href="{{ url_for('about') }}">Ethan Shealey</a>
                on {{post.date}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Main Content -->
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            {{ post.raw_body | safe }}
          </div>
          <div class="post-preview">
            <hr>
            <i><h3>Tags</h3></i>
              {% for tag in tags %}
                <a href="{{url_for('search_item', item=tag)}}" class="btn">#{{ tag }}</a>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}